@import "../../styles/shared";

input[type="button"] {
  padding: 10px;
}

.ptb-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.shifts {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.sub-title {
  color: #9e9e9e;
  font-size: 16px;
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.detail {
  margin: 0 auto;
  padding: 15px;
}

@media screen and (min-width: 620px) {
  .detail {
    margin: 0 10%;
  }
}

@media screen and (min-width: 900px) {
  .detail {
    margin: 0 20%;
  }
}

@media screen and (min-width: 1300px) {
  .detail {
    margin: 0 30%;
  }
}

.detail-header {
  display: flex;
  flex-direction: column;

  &__row {
    display: flex;
    flex-direction: row;
  }
}

.logo {
  max-width: 100px;
  max-height: 100px;
  margin: 0px 10px 10px 0px;
}

.header {
  display: flex;
  flex-direction: column;
}

.header-item {
  display: flex;
  flex-direction: row;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: #282c34;

  &--title {
    background-color: rgb(49, 104, 156);
    color: white;
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
